 <footer>
    <div class="footerContainer">
      <div class="socialIcons">
        <span routerLink="/web-app" class="material-icons" id="headIcon">home</span>
        <span routerLink="/web-app" class="material-icons" id="headIcon">work</span>
        <span routerLink="/app-products" class="material-icons" id="headIcon">store</span>
        <span class="material-icons" id="headIcon">  account_circle</span>
        <span class="material-icons" id="headIcon">  language</span>
      </div>

      <div class="footerNav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Works</a></li>
          <li><a href="">OnlineShop</a></li>
          <li><a href="">Account</a></li>
          <li><a href="">About</a></li>
        </ul>
      
       
      </div>
    </div>
            
           
          
           <div class="footerBottom">
                <p>Copyright &copy;2023; Design by <span class="designer">Albert</span></p>
          </div>
      
         
        
      
</footer>

