*{
    margin: 0;
    padding: 0;
}

.content{

    padding-top: 10px;
}

.row{
    display: flex;
   
    gap: 10px;
   
}



.action{
    padding: 0px 25px 20px;
    display: flex;
    gap: 5px;
   
}

button {
    flex: 1;
}

